#app-root {
  /* Take up the entire screen */
  width:auto; height:auto;
  top:0;      left:0;
  bottom:0;   right:0;
  position: fixed;
  display: flex;
  flex-direction: row;
  font-family: 'Roboto Slab', serif;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
header {
  background: gray;
  color: white;
  padding: 1em;
}
header h1 {
  margin: 0;
}
aside {
  width:30em;
  padding: 1em;
  display: block;
}

.worksheet {
  position:relative;
  overflow:scroll;

  font-size: 16px;
  line-height: 1em;

  background-color: #eeeeee;
  background-attachment: local;
  background-image: url('data:image/svg+xml;utf8,\
    <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">\
      <line x1="1" x2="1" y1="0" y2="4" style="stroke:#ccc;stroke-width:2px" />\
      <line y1="1" y2="1" x1="0" x2="4" style="stroke:#ccc;stroke-width:2px" />\
      <line x1="1" x2="1" y1="14" y2="16" style="stroke:#ccc;stroke-width:2px" />\
      <line y1="1" y2="1" x1="14" x2="16" style="stroke:#ccc;stroke-width:2px" />\
    </svg>\
  ');
  box-shadow: 0.5em 1em 1em -1em rgba(0,0,0,0.5) inset;
}
.worksheet table {
  border-spacing: 0;
  table-layout: fixed;
  position: absolute;

  box-shadow: 0.1em 0.1em 1em -0.2em rgba(0,0,0,0.5);
}
@media screen {
  /* Drag border */
  .worksheet table.focused:before {
    content: '';
    display: block;
    position: absolute;
    top:    -8px; left:  -8px;
    bottom: -8px; right: -8px;
    height: auto;  width: auto;
    background: url('data:image/svg+xml;utf8,\
      <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">\
        <line x1="0"  y2="0"  x2="2"  y1="2"  style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="0"  y2="0"  x2="6"  y1="6"  style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="0"  y2="0"  x2="10" y1="10" style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="0"  y2="0"  x2="14" y1="14" style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="16" y2="16" x2="2"  y1="2"  style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="16" y2="16" x2="6"  y1="6"  style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="16" y2="16" x2="10" y1="10" style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
        <line x1="16" y2="16" x2="14" y1="14" style="stroke:rgba(0,0,0,0.4);stroke-width:1px" />\
      </svg>\
    ');
    cursor: move;
  }
}
.worksheet tbody {
  border-spacing: 0;
  counter-reset: row 0;
}
.worksheet tr {
  counter-increment: row;
  counter-reset: col 0;
}
/* Row Headings */
/*.worksheet table:hover tr:after { /* ::before screws up the column widths * /
  content: 'R' counter(row);
  position: absolute;
  display: block;
  left: 0;
  margin-left: -1em;
  width: 2em;
  height: 1em;
  background:linear-gradient(to bottom, #e7e7e7, #cccccc);

  text-align: center;
  cursor: pointer;

  /* same border as the cells, only rotated * /
  box-sizing:border-box;
  box-shadow: -1px 1px 0px 1px #999;
  border:2px solid #999;
  border-left:none;
  border-bottom:none;

  transform-origin: 50% 100%;
  transform: rotate(-90deg);
}*/
.worksheet td {
  position:relative;
  height:2em;
  padding:0;
  box-shadow: 1px 1px 0px 1px #999;
}
/*.worksheet td:hover:before {
  content: 'C' counter(col);
  position: absolute;
  display: block;
  top: 0;
  margin-top: -1em;
  width: 100%;
  height: 1em;
  text-align: center;

  background:linear-gradient(to bottom, #e7e7e7, #cccccc);
  box-sizing:border-box;
  box-shadow: 1px 1px 0px 1px #999;
  border:2px solid #999;
  border-right:none;
  border-bottom:none;
}*/
.worksheet td:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;       left: 100%;
  bottom: 0;
  height: auto; width: 2px;
  border: 0.2em solid rgba(0,0,0,0.001);
  border-top: none;
  border-bottom: none;
  cursor:e-resize;
  margin-left:-0.2em;
  z-index: 1;
}
.worksheet input {
  font: inherit;
  padding: 0 0.5em;

  box-sizing:border-box;
  border:2px solid #999;
  border-right:none;
  border-bottom:none;
  margin-right:-2px;

  display:block;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  line-height: 2em;
  position:absolute;
}
@media screen {
  .worksheet input:focus {
    outline: none;
    box-shadow: 0.05em 0.05em 0.4em 0.15em rgba(0, 85, 255, 0.4) inset;
  }
}
.worksheet tr:first-child td:first-child,
.worksheet tr:first-child td:first-child input {
  border-top-left-radius:0.5em;
}
.worksheet tr:first-child td:last-child,
.worksheet tr:first-child td:last-child input {
  border-top-right-radius:0.5em;
}
.worksheet tr:last-child td:first-child,
.worksheet tr:last-child td:first-child input {
  border-bottom-left-radius:0.5em;
}
.worksheet tr:last-child td:last-child,
.worksheet tr:last-child td:last-child input {
  border-bottom-right-radius:0.5em;
}


.table { display: table; }
.colgroup { display: table-column-group; }
.thead { display: table-header-group; }
.tfoot { display: table-footer-group; }
.tbody { display: table-row-group; }
.td { display: table-cell; }
.col { display: table-column; }
.tr { display: table-row; }

@media print {
  header, aside, .toolbar {
    display: none;
  }

  .worksheet {
    overflow:inherit;
    width:100%;
  }
}
